<!DOCTYPE html>
<html>

<head>
    <title>ĐĂNG KÝ MÔN HỌC</title>
    <link rel="stylesheet" href="/views/resources/css/dkmh.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>

    <div class="header">
        <img class="logo" src="/views/resources/image/Logo.png" alt="photo">
        <h1>ĐĂNG KÝ MÔN HỌC</h1>

        <ul class="main1">
            
            <li><a href="/logout"><span><i class="fas fa-sign-out-alt"></i></span> <span>ĐĂNG XUẤT</a></li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    </div>
    <div>
        <ul class="main2">
            <li id="home"><a href="/homepage"><span><i class="fas fa-home"></i></span> <span>Trang chủ</a></li>
            <li id="dk"><a href="/student/resis"><span><i class="fas fa-edit"></i></span> <span>Đăng ký môn học</a></li>
            <li id="xmh"><a href="/student/view-course"><span><i class="far fa-eye"></i></span> <span>Xem môn học đã đăng ký</a></li>
            <li id="Cpass"><a href="#"><span><i class="fas fa-key"></i></span> <span>Đổi mật khẩu</a></li>
        </ul>
    </div>
    <div class="content">
        <p class="text">Chọn môn học đăng ký</p>
        
        <form action="/student/resis-search" method="POST" id="form">
            <input type="text" placeholder="Mã môn học/Tên môn học" name="submit" id="txt">
            <input type="submit" value="search" id="btn">
        </form>
    </div>
</body>
<script type="text/javascript" src="/views/resources/js/dmk.js"></script>
</html>